# Python
__pycache__/
*.pyc
.venv/

# Environment / secrets
.env
.env.*

# Data files
data/raw/
data/processed/
*.csv
*.json
*.parquet

# Docker / local DB
*.db
*.sqlite
postgres_data/
defi_postgres_data/

# Logs
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# dbt build artifacts
target/
dbt_packages/
logs/

# Snowflake
.snowflake/
connections.toml

*.p8
*.pub
*.pem
*.key